$primaryColor: rgb(24, 107, 237);
$backgroundColor: rgb(255, 255, 255);
$bodyColor: rgb(53, 53, 53);

$infoColor: rgb(255, 216, 118);
$successColor: rgb(46, 204, 113);
$warningColor: rgb(242, 87, 87);

$fontSize-medium: 1.6em;
$fontSize-regular: 1.4em;
$fontSize-small: 1.2em;

$fontFamily-header: "Arial", sans-serif;
$fontFamily-body: "Courier New", monospace;
